import { ApiProperty } from '@midwayjs/swagger';
import { PageDTO } from '../../../../common/page-dto';

export class $1PageDTO extends PageDTO {
  @ApiProperty({ description: '代码' })
  code: string;
  @ApiProperty({ description: '名称' })
  name: string;
}
